---
const {img} = Astro.props;
---
<article class="card">
    <img src={img}></img>
    <h3>Title</h3>
    <p>Lorem ipsum</p>
</article>

<style>
.card {
    background-color: #262626;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 0.5rem;
    height: 17rem;
}
.card:hover {
    background-color: #303030;
}
img {
    border-radius: 0.5rem;
}
</style>